[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brokerage-inspect = {editable = true, path = "."}
cryptography = "==48.0.1"

[dev-packages]
pytest = "==9.0.3"

[requires]
python_version = "3.14"
